@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
